[Unit]
Description=Simple Captive Portal Server

[Service]
Environment='KEMAL_ENV=production'
ExecStart=/path/to/simple-captive --port 443 --ssl --ssl-key-file your_key_file --ssl-cert-file your_cert_file
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=simple-captive-https
User=user
Group=user

[Install]
WantedBy=multi-user.target
